
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.list)
                {
                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Home", new { id = item.ID })">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
