
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="@Url.Action("Button")" method="post">
        <div>
            Hello world!
            <input name="id" value="1" />
            <input name="text" value="asasas" />
            <button type="submit">Submit</button>
        </div>
    </form>
    
</body>
</html>
